.nav {
    /* margin: 20px 0px; */
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px;
    padding: 10px;
}

.link {
    color: black;
    padding: 8px;
    cursor: pointer;
    transition: 0.25s;
}
.link:hover {
    transition: 0.25s;
    color: #4183c4;
}

.active {
    font-weight: 600;
    color: #3774b1;
}
